.address-text{
	color: #989494;
	float: right;
}
.address-text li {
    display: inline-block;
    font-size: 1.2em;
    color: #989494;
    margin-top: 1em;
	font-weight: 100;
	padding: 10px 10px;
}

.address-text li a {
    color: #989494;
	text-decoration:none;
}
.address-text li a:hover{
    color: #f31313;
}
.user-texts{
	width: 269px;
}
.scrolltop {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: rgb(200, 5, 0);
  color: #fff;
  text-align: center;
  font-size: 2.5em;
}

.scrolltop:hover, .scrolltop:active, .scrolltop:focus {
  color: #fff !important;
  opacity: .75;
}
